/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  background-color: #c0c0c0;
}
header {
  background-color: #708090;
  widows: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}
header img {
  border-radius: 90%;
  width: 75%;
}
header h1 {
  font-size: 3rem;
  font-family: 'Econmica', sans-serif;
  color: #f5f5f5;
  width: 100%;
  text-align: center;
}
header h2 {
  font-size: 1.75rem;
  font-family: 'Sarala', sans-serif;
  color: #2f4f4f;
  width: 100%;
  text-align: center;
}
header h3 {
  font-size: 1.5rem;
  font-family: 'Sarala', sans-serif;
  color: #2f4f4f;
  width: 100%;
  text-align: center;
}
header p {
  text-decoration: none;
  font-family: 'Sarala', sans-serif;
  color: #2f4f4f;
  width: 100%;
  text-align: center;
}
header a {
  text-decoration: none;
  font-family: 'Sarala', sans-serif;
  color: #2f4f4f;
  width: 100%;
  text-align: center;
}
#footer {
  font-size: 0.75rem;
}
.onScreenRight {
  font-family: 'Vidaloka', serif;
  width: 65vw;
  background-color: #c0c0c0;
  margin-left: 20%;
  color: #2f4f4f;
  position: relative;
  right: 0;
}
.objective h2 {
  font-size: 1.5rem;
  color: #cd5c5c;
}
.objective p {
  font-size: 1.14rem;
  margin-left: 2%;
}
.sectionTitle {
  font-size: 1.5rem;
  color: #cd5c5c;
}
.schoolInfo {
  display: flex;
  align-items: flex-end;
  margin-left: 2%;
}
.schoolInfo h3,
h4,
h5 {
  margin-left: 1%;
}
.schoolInfo h3 {
  font-size: 1.14rem;
}
.schoolInfo h4 {
  font-size: 1rem;
}
.schoolInfo h5 {
  font-size: 0.9rem;
}
.jobInfo {
  display: flex;
  align-items: flex-end;
  margin-left: 2%;
}
.jobInfo h3 {
  font-size: 1.14rem;
}
.jobInfo h4 {
  font-size: 1rem;
}
.jobInfo h5 {
  font-size: 0.9rem;
}
ul {
  margin-left: 2%;
  line-height: normal;
}
.workHistory p {
  margin-left: 2%;
}
